# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.venv/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
*.cover
.hypothesis/
venv/
env/
ENV/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log
.DS_Store
.eslintcache
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
build/
dist/
.next/
out/
.cache/

# Editor settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.classpath
.c9/
*.launch
.settings/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.sw?

# Prompt Editor specific
.env
.env.local
data/prompt_repository/*
!data/prompt_repository/README.md
data/lineage/*
!data/lineage/README.md
data/backups/*
!data/backups/README.md
!/data/layouts
*.log
logs/
*.db
*.sqlite3
*.txt

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/backup_txt/
/data
workspaces/
repositories/workorders
repositories/teamconfigs
repositories/runtimeconfigs
